.back-extras {
	background-image: url(../images/skin-playgrey.png);
	background-repeat: repeat;

	.footer-add {
		border-top: 1px solid #e2e2e2;
	}
}




#core-wrapp {

	.content-extras {

		.txt-title-tipo1 {
			font-size: 2.5em;
		}

		.txt-indi {
			.font-medium();
			text-align: center;
			font-size: 2em;
			padding: 0 10px;
			margin-bottom: 50px;

			@media (min-width: 768px) {
				padding: 0 100px;
			}
		}
	}

}