#core-wrapp {

	.content-index {
		.nav-challange {
			position: absolute;
			right: -5px;
			z-index: 10000;

			-ms-transform: scale(0.9, 0.9); /* IE 9 */
		    -webkit-transform: scale(0.9, 0.9); /* Safari */
		    transform: scale(0.9, 0.9);


		 //    @media (min-width: 488px) {
			// 	right: 40px;
			// 	-ms-transform: scale(0.9, 0.9); /* IE 9 */
		 //    	-webkit-transform: scale(0.9, 0.9); /* Safari */
		 //    	transform: scale(0.9, 0.9);

			// }


			@media (min-width: 768px) {
				right: 40px;
				-ms-transform: scale(1, 1); /* IE 9 */
		    	-webkit-transform: scale(1, 1); /* Safari */
		    	transform: scale(1, 1);
			}

			&:after{
				content: "";
				height: 100%;
				
				position: absolute;
				top: 30px;
				left: 50%;
				opacity: .35;
			    border-style: dotted;
			    border-left: 1px;
			}


			&:before{
				content: "";
				width: 20px;
				height: 20px;
				
				position: absolute;
				bottom: -30px;
    			left: 41%;
				background: #000;
				.border-radius-gen();

			}

			.main-txt {
				font-size: 1.5em;
			}


			.anchor-wrapp {
				position: relative;
				z-index: 4;
				width: 80px;
				height: 80px;
				.border-radius-gen();
				position: relative;
				.shadow();
				margin-bottom: 20px;
				overflow: hidden;

				.bright {
					position: absolute;
					width: 80px;
					height: 80px;
					top: 0px;
					left: 0px;

					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,ffffff+100&1+0,1+50,0+100 */
					background: -moz-linear-gradient(155deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
					background: -webkit-linear-gradient(155deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
					background: linear-gradient(155deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
					opacity: 0.6;
				}


				.wrapp-number {
					width: 80%;
					height: 80%;
					background-image: url(../images/worn_dots.png);
					.border-radius-gen();
					background-color: #fff;
					overflow: hidden;
					position: absolute;
					top: 8px;
					left: 0;
					right: 0;

					-webkit-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.2);
					-moz-box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.2);
					box-shadow: inset 0px 3px 5px 0px rgba(0,0,0,0.2);


					p {
						font-size: 3em;
						.txt-shadow();
						text-align: center;
						margin-bottom: 0px;	


						display: table-cell;
    					vertical-align: middle;
					}

					.type1 {
						color: @color-base2;
						text-indent: -6px;
					}

					.type2 {
						color: @color-base3;
					}


					.type3 {
						color: @color-base4;
						line-height: 64px;
					}
				}
			}


			.anchor-wrapp1 {
				background-color: @color-base2;
			}

			.anchor-wrapp2 {
				background-color: @color-base3;
			}


			.anchor-wrapp3 {
				background-color: @color-base4;
			}
		}



		.principal {
			
		}

		

		.bottom {
			margin-top:10px;

			@media (min-width: 768px) {
				margin-top: -20px;
			}

			.claim-principal {
				

				background-color: initial;
				position: relative;
				box-shadow: none;

				overflow: hidden;
				width: auto;
				margin:0 auto 0;
				display: table;
				padding:0px;



				@media (min-width: 768px) {
					background-color: @color-base3;
					border-radius: 7px;
					-webkit-border-radius: 7px;
					-moz-border-radius: 7px;
					-ms-border-radius: 7px;
					-o-border-radius: 7px;
					width: 90%;
					padding: 22px 0px;
					.shadow();
				}

				@media (min-width: 992px) {
					width: 80%;
				}


				@media (min-width: 1200px) {
					width: 70%;
				}

				.box-shadow-inset {
					border-radius: 7px;
					-webkit-border-radius: 7px;
					-moz-border-radius: 7px;
					-ms-border-radius: 7px;
					-o-border-radius: 7px;
				}


				.txt-1 {
					color: @color-base3;
					font-size: 1.7em;
					margin-top: 0px;
					margin-bottom: 7px;

					@media (min-width: 480px) {
						font-size: 2em;
					}
					

					@media (min-width: 768px) {
						color: #fff;
					}

				}

				.txt-2 {
					
					font-size: 1.3em;
					margin-bottom: 0px;

					@media (min-width: 768px) {
						color: #fff;
					}
				}


				.box-shadow-inset {
					display: none;
					@media (min-width: 768px) {
						display: block;
					}
				}
			}

			

			.wrapp-prize-center {
				display: table;
				margin: 0 auto 0;
				float: none;

				@media (min-width: 768px) {
					display: block;
					margin: inherit;
					float: left;
				}
			}

			.prize-wrapp {
				margin-top: 0px;

				@media (min-width: 768px) {
					margin-top: 20px;
				}

				.prize {
					margin: 0px;

					@media (min-width: 768px) {
						margin-top: -53px;
						margin-left: -20px;
					}
				}


				.txt-mobile-hidden {
					display: none;
					@media (min-width: 768px) {
						display: block;
					}
				}


				.txt-mobile-show {
					display: block;

					@media (min-width: 768px) {
						display: none;
					}

					.arrow-mob {
						position: absolute;
						right: -2px;
					}

				}

				.txt-3 {
					font-size: 1.2em;
					text-align: center;
					position: relative;
					

					@media (min-width: 768px) {
						margin-top: 0px;
						text-align: right;
						font-size: 1em;
					}
					



					@media (min-width: 1200px) {
						font-size: 1.3em;
					}


					span {
						color: @color-base3;
						font-size: 1.4em;
					}
				}



				
			}


			.txt-4 {
				clear: both;
				text-align: center;
				font-size: 1.5em;


				@media (min-width: 480px) {
					font-size: 2.5em;
				}
			}


			.letsgo {
				background-color: @color-base3;
				width: 70%;

				@media (min-width: 768px) {
					width: 60%;				
				}

				p {
					color: #fff;
					font-size: 1.8em;

					@media (min-width: 480px) {
						font-size: 2.3em;
					}



					@media (min-width: 768px) {
						font-size: 3em;
					}
				}
			}
		}
		
		.an {
			width: 100%;
		}

		.form1 {
			width: 50%;
			float: left;
		}
		
		.form2 {
			width: 100%;
			margin: 0px 0 -4px 0
		}

		.challenge {
			position: relative;
			clear: both;
			background-image: url(../images/skin-play.png);

			.logo-gachi {
				display: none;
				@media (min-width: 768px) {
					display: block;
				}
			}
			

			.title-seccion {
	
				.txt-ts {
					text-align: center;
					font-size: 2.3em;

					color: #000;
					.shadow();
					.txt-shadow();

					position: relative;


					.play {
						position: absolute;
						width: 25px;
						height: 25px;
						.border-radius-gen();
						background-color: #000;
						top: 7px;
						right: -1px;
						display: none;

						@media (min-width: 992px) {
							display: block;
						}


						@media (min-width: 992px) {
							width: 30px;
							height: 30px;
							top: 8px;
							right: 0px;
						}
						

						i {
							font-size: .4em;
						    top: -13px;
						    position: relative;
						    left: 1px;
						    color: @color-base2;

						    @media (min-width: 992px) {
								top: -17px;
						    }
						}
					}
				}


				.circle-ts {
					width: 90px;
					height: 90px;
					position: relative;
					overflow: hidden;
					.border-radius-gen();
					.shadow();
				
					@media (min-width: 768px) {
						width: 115px;
						height: 115px;
					}


					.bright {
						background-color: #fff;
						opacity: 0.16;
						width: 90px;
						height: 90px;
						position:absolute;
						top: -5px;
						left: -5px;
						.border-radius-gen();

						@media (min-width: 768px) {
							width: 115px;
							height: 115px;
						}
					}

					p {
						text-align: center;
						font-size: 4em;
						.txt-shadow();

						@media (min-width: 768px) {
							font-size: 5em;
						}
					}
				}
			}


			.claim-challenge {
				font-size: 1.5em;

				@media (min-width: 768px) {
					font-size: 2em;
				}
			}


			.info {
				font-size: 1.3em;
				.font-medium();
				margin-bottom: 20px;
				
				@media (min-width: 768px) {
					margin-bottom: 40px;	
				}

			}
	

			.letsgo {
				background-color:#fff;
				width: 60%;

				p {
					color: @color-base3;
					font-size: 2em;

					@media (min-width: 768px) {
						font-size: 3em;
					}
				}
			}


			.prohibition {
				font-size: 1.1em;
				.font-medium();
				margin-top: 13px;
			}



		}


		.challenge1 {
			background-color: @color-base2;
			top: -4px;
			padding-bottom: 20px;

			.logo-gachi {
				margin-top: -40px;
			}

			.title-seccion {
				margin-top: 30px;

				@media (min-width: 768px) {
					margin-top: 40px;
				}

				.circle-ts {
					background-color: #000;

					p {
						color: #fff;
						margin-left: -11px;
    					margin-top: 13px;

    					@media (min-width: 992px) {
    						margin-top: 6px;
    					}
					}
				}
			}
			
		}
		

		.challenge2 {
			background-color: @color-base3;
			background-image: url(../images/skin-play-alpha.png);
			
			.txt-gen {
				color: #fff;
			}

			.logo-gachi {
				margin-top: 4px;
			}
			
			.title-seccion {
				margin-top: 40px;

				@media (min-width: 768px) {
					margin-top: 0px;
				}

				.txt-ts {
					color: #fff;

					.play {
						background-color: #fff;

						i {
							color: @color-base3;
						}
					}
				}

				.txt-dotted:after {
					border-bottom: dashed 1px #fff;
				}




				.circle-ts {
					background-color: #fff;

					p {
						color: @color-base3;
						margin-left: -2px;
    					margin-top: 13px;

    					@media (min-width: 992px) {
    						margin-top: 6px;
    					}
					}
				}
			}

		}
	

		.challenge3 {
			background-color: @color-base4;
			padding-bottom: 55px;

			@media (min-width: 768px) {
				padding-bottom: 0px;
			}

			.title-seccion {
				margin-top: 50px;

				@media (min-width: 768px) {
					margin-top: 20px;
				}


				.circle-ts {
					background-color: #000;

					p {
						color: #fff;
						margin-left: -2px;
    					margin-top: 14px;

    					@media (min-width: 992px) {
    						margin-top: 6px;
    					}
					}
				}

				.txt-ts {
					.play i {
						color: @color-base4;
					}
				}
			}

			.letsgo {
				width: 90%;


				@media (min-width: 480px) {
					width: 60%;
				}
				
				@media (min-width: 768px) {
					width: 100%;
				}

			}

			.letsgo-min {
				width: 75%;
				margin-top: 30px;

				@media (min-width: 768px) {
					width: 40%;
				}

				p {
					font-size: 1.8em;

					@media (min-width: 768px) {
						font-size: 2.3em;
					}
				}
			}
		}



	}
}






.not {
	width: 100%;
    height: 60px;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: -1px;
    z-index: 10;
    left: 0;
    right: 0;
    margin: 0 auto 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

	
	p {
		color: #fff;
		font-size: 1.2em;
		text-align: center;
		margin-bottom: 0px;
		padding: 10px;
	}

	@media (min-width: 480px) {
		height: 76px;
		top: -10px;
		width: 70%;

		p {
			font-size: 1.3em;
			padding: 17px;
		}
	}

	@media (min-width: 768px) {
		height: 97px;
		width: 100%;
		top: -15px;

		p {
			color: #fff;
			font-size: 1.8em;
			text-align: center;
			margin-bottom: 0px;
			padding: 20px;
		}

	}

	@media (min-width: 992px) {
		height: 110px;
	}
	
}

