.back-registro {
	background-image: url(../images/skin-playgrey.png);
	background-repeat: repeat;
}

#core-wrapp {

	.content-register {



		
		.txt-indi {
			text-align: center;
			font-size: 1.2em;
		}
	
		.wrapp-register {
			margin: 40px auto 0;
			display: table;
			float: none;
			padding: 0px 0 40px 0;
			@media (min-width:768px) {
				padding-left: 15px;
				padding-right: 15px;
			}

			.item-register {
				margin-bottom: 30px;
				clear: both;

				@media (min-width:768px) {
					clear: inherit;
				}

				.label-gen {
					color: @color-text-dark;
					font-size: 1em;
					display: block;
				}


				.select-form-day {
					width: 15%;
				}



				.select-form-month {
					width: 55%;
					// margin: 0 13px;

					// @media (min-width:768px) {
					// 	width: 50%;
					// }
				}



				.select-form-year {
					width: 28%;

					 @media (min-width:768px) {
						width: 29%;
					}
				}
			}
		}



		.check-group {
			.font-medium();
			.checkbox {
				font-size: .9em;

				input[type="checkbox"]:checked+label:before {
				    content: "\f111";
				    color: @color-base3;
				    font-weight: 900;
				}

				input {
					margin: 0px;
					position: relative;
					display: none;
				}

				.label-condicion {
					padding: 0px;
					color: @color-text-dark;
					font-size: 1.1em;
					.transition();

					a {
						color: @color-base3;
					}

					a:hover {
					 	text-decoration: underline !important;
					}


					&:before {
						font-family: 'Font Awesome 5 Free';
					    width: 1.3em;
					    display: inline-block;
					    color: @color-base3;
					    content: "\f111";
					}
					
					a {
						&:hover, &:focus, &:active {
							text-decoration: none;
						}
					}

				}
			}
		}
		
		


		.group-btn {
			margin: 0 auto 0;
			display: table;
			padding-top: 35px;

			.btn-send {
				float: left;
			}
		}


		.error-form {

			background-color: #000;
		    padding: 6px 12px;
		    border: #000 1px solid;
		    color: #FFF;
		    
		    width: inherit;
		    display: inline-block;
		    left: 0px;
		    top: inherit;
		    position: absolute;
		    font-size: 12px;

		    text-align: left;
		    z-index: 50;

		    margin-left: 14px;

		    display: none;
		    width: 100%;


		    &:before {
		    	content: '';
			    border-top: 8px solid transparent;
			    border-bottom: 8px solid #000;
			    border-right: 8px solid transparent;
			    border-left: 8px solid transparent;
			    position: absolute;
			    top: -16px;
		    }

			

		}

		#error_tyc {
			bottom: -20px;
		}

		.errortyc {
			top: 20px;
			left: 0px;
		}

	}
}




