.back-trivia1 {
	background-image: url(../images/skin-play.png);
	background-repeat: repeat;
	background-color: @color-base2;
}


.back-trivia2 {
	background-image: url(../images/skin-play-alpha.png);
	background-repeat: repeat;
	background-color: @color-base3;
	// background-blend-mode: saturation;


	.wiii{
		color: #fff;
	}
}



.back-trivia3 {
	background-image: url(../images/skin-play.png);
	background-repeat: repeat;
	background-color: @color-base4;

}

/*reset*/

.back-trivia2 {
	
	.nav-trivia {

		.dot:hover {
			background-color: @color-base2 !important;
		}

		.dot-select{
			background-color: @color-base2 !important;
		}
	}


	.res {
		color: #fff;
		border-bottom: dashed 1px #fff !important;
	}
		

	
	.wrapp-trivia2 {
		
		.answer {
			margin-top: 20px;
		}

		.icon {
			float: none !important;
			display: table;
			margin:0 auto 0;
		}

		.answer-txt {
			text-align: center;
			float: none !important;
		}
	}

	.letsradio{
		background-color: #fff;

		p {
			color: @color-base3;
		}
	}

	.txt-add {
		color: #fff;
	}

}




.back-trivia3 { 


	.letsradio{
		background-color: #fff;

		p {
			color: @color-base3;
		}
	}

	.college .wrapp-draw {
		height: auto !important;
	}
}


#core-wrapp {


	.content-trivias {

		.bottom {

			.txt-title-tipo1 {
				color: #fff;
				box-shadow: none;
				font-size: 2em;

				&:after{
					display: none;
				}
			}



			.nav-trivia{
				position: relative;

				&:after {
					content: "";
					position: absolute;
					width: 100%;
					top: 50%;
					border:dotted 1px #989898;
					left: 0px;
				}

				.center();

				.dot {
					width: 23px;
					height: 23px;
					background: #fff;
					.shadow();
					float: left;
					margin: 0 7px 0 7px;
					.border-radius-gen();
					position: relative;
					z-index: 20;
					cursor: pointer;
					.transition();
					overflow: hidden;


					&:hover {
						-moz-transform: scale(1.2);
			   			-ms-transform: scale(1.2);
			   			-webkit-transform: scale(1.2);
			   			transform: scale(1.2);
			   			background-color: @color-base3;
			   			.transition();


			   			&:after {
			   				content: "";
			   				width:100%;
			   				height: 100%;
			   				background:rgba(255, 255, 255, 0.3);
			   				position: absolute;

							-ms-transform: rotate(-45deg); /* IE 9 */
						    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
						    transform: rotate(-45deg);
						    top: -30%;
						    left: -30%;

			   			}

					}

				}


				.dot:first-child {
					margin: 0 7px 0 0px;
				}


				.dot:last-child {
					margin: 0 0px 0 7px;
				}

				.dot-select {
					-moz-transform: scale(1.2);
		   			-ms-transform: scale(1.2);
		   			-webkit-transform: scale(1.2);
		   			transform: scale(1.2);
		   			background-color: @color-base3;
		   			position: relative;
		   			overflow: hidden;

		   			&:after {
		   				content: "";
		   				width:100%;
		   				height: 100%;
		   				background:rgba(255, 255, 255, 0.3);
		   				position: absolute;

						-ms-transform: rotate(-45deg); /* IE 9 */
					    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
					    transform: rotate(-45deg);
					    top: -30%;
					    left: -30%;

		   			}
				}
			}


			.wrapp-trivia {
				background-color: #fff;
				position: relative;
				border-radius:6px;
				-webkit-border-radius:6px;
				-ms-border-radius:6px;
				-o-border-radius:6px;
				-moz-border-radius:6px;
				// overflow: hidden; 
				margin-bottom: 40px;
				position: relative;
				color: @color-text-dark;

				.shadow();
				padding: 65px 20px 20px 20px;
				margin-top: 20px;
				
				z-index: 4;

				.box-shadow-inset {
					-webkit-border-radius:6px;
					-ms-border-radius:6px;
					-o-border-radius:6px;
					-moz-border-radius:6px;
				}


				.mini-figures {
					position: absolute;
					width: 6%;
				}

				.mini-figures1 {
					top: 15px;
					left: 15px;
				}

				.mini-figures2 {
					top: 15px;
					right: 15px;
				}


				.mini-figures3 {
					bottom: 15px;
					left: 15px;
				}


				.mini-figures4 {
					bottom: 15px;
					right: 15px;
				}
			}
		

			.title-trivia {
				font-size: 1.8em;
				text-align: center;
				position: relative;
				z-index: 10;
				margin-bottom: 30px;
				color: @color-base3;

				span {
					font-size: 1.4em;
				}
			}

		


			.opciones {
				.font-medium();
				position: relative;
				z-index:10;

				.op {
					width: 93%;
					.border-radius-gen();
					border-color: @color-base3;
					border-style: solid;
					border-width: 1px;
					margin: 0 auto 20px;
					display: table;
					padding: 12px 10px;
					cursor: pointer;
					.transition();


					p {
						text-align: center;
						font-size: 1.5em;
						margin-bottom: 0px;
					}

					&:hover {
						-moz-transform: scale(1.1);
			   			-ms-transform: scale(1.1);
			   			-webkit-transform: scale(1.1);
			   			transform: scale(1.1);
			   			background-color: @color-base3;

			   			p, .artist {
			   				color: #fff;
			   			}
					}
				}
				
				.op-trivia2 {
					p {
						font-size: 1.3em;
						font-weight: bold;
					}

					.artist {
						font-size: 1em;
						text-align: center;
						display: block;

					}
				}

				.select {
					background-color: @color-base3 !important;

					-moz-transform: scale(1.1);
					-ms-transform: scale(1.1);
					-webkit-transform: scale(1.1);
					transform: scale(1.1);

					border-color: @color-base3;
					border-style: solid;
					border-width: 1px;

					p {
						color:#fff !important;
					}
				}
			}

			.omitir{
				text-align: center;
				opacity: 0.5;
				cursor: pointer;
				margin-bottom: 30px;
				display: block;

			}


			.next-gen {
				// overflow: hidden;
				// .border-radius-gen();
				// width: 65px;
				// height: 65px;
				// .shadow();
				// position: absolute;
				// top: 50%;
				// right: -50px;
				// margin-top: -40px;
				.transition();
				background-color: @color-base3;
				.center();
				padding: 0 30px;
				margin-bottom: 20px;
				cursor: progress;
				overflow:hidden;



				.box-shadow-inset {
					border-radius: 100px;
					-webkit-border-radius: 100px;
					-ms-border-radius: 100px;
					-o-border-radius: 100px;
					-moz-border-radius: 100px;
				}


				&:hover{
					-moz-transform: scale(1.1);
					-ms-transform: scale(1.1);
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
				}


				p {
					color: #fff;
					.main-font();
					font-size: 1.7em;
				}

				// @media (min-width: 480px) {
				// 	right: -70px;
				// }

				// @media (min-width: 768px) {
				// 	width: 80px;
				// 	height: 80px;
				// 	right: -100px;
				// }
			}



			/*resultados*/

			.resultados {
				position: relative;
				z-index: 10;
				margin-top: -40px;
			}

			.question-gen {
				margin-top: 26px;
				p {
					color: @color-base3;
					text-align: center;
					font-size: 1.1em;
				}
			}

		

			.answer {
				overflow: hidden;
				display: block;
				clear: both;

				.top {
					font-size: 1.5em;

					.icon {
						float: left;
					}

					.icon-bad {
						
					}

					.icon-good {
						color: @color-base3;
						position: relative;

						.fa-thumbs-up {
							position: relative;
							z-index: 4;
						}

						&:before, &:after {
							content: "\f005";
							.fa();
							color: @color-base2;
							position: absolute;
							top: 0px;
							z-index: 2;
						}

						&:before {
							left: -20px;
						    font-size: 0.5em;
						    top: 10px;

						}


						&:after {
							left: -10px;
						    font-size: 0.7em;
						    top: 1px;
						}
					}


					.answer-txt {
						float: left;

						.font-medium();
					}
				}


				.bottom {
					clear: both;
					.font-medium();
					text-align: center;
					font-size: 0.8em;
				}
			}

			

			.class-score {
				width: 100%;
				border-bottom:solid 1px #dedede;
				text-align: center;
				margin-top: 20px;

				.score {
					color: @color-base3;
					font-size: 1.4em;
				}
			}
			

			.dato {
				padding: 20px;
				text-align: center;
				margin-bottom: 20px;
			}


			// .next-gen-trivia1 {
			// 	background-color: @color-base3;


			// 	i {
			// 		color: #fff;
			// 		font-size: 4em;
			// 	}
			// }


			// .next-gen-trivia2 {
			// 	background-color: #fff;

			// 	i {
			// 		color: @color-base3;
			// 		font-size: 4em;
			// 	}
			// }



			/*trivia2*/
			.res {
				text-align: center;
				position: relative;
				.txt-shadow();
				display: table;
    			margin: 0 auto 0;
    			.txt-dotted();

    			font-size: 2.2em;
    		}


    		.video-gachi{
    			position: relative;
			    padding-bottom: 56.25%;
			    padding-top: 25px;
			    height: 0;
			    z-index: 10;
			    margin-bottom: 40px;

    			iframe {
    				position: absolute;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
    			}
    		}




			
			/*trivia3*/

			.files {
				padding: 22px 10px;
				float: left;
				background-color: #fff;
				.shadow();

				border-top-left-radius: 4px;
				-webkit-border-top-left-radius: 4px;
				-moz-border-top-left-radius: 4px;
				-ms-border-top-left-radius: 4px;
				-o-border-top-left-radius: 4px;



				border-bottom-left-radius: 4px;
				-webkit-border-bottom-left-radius: 4px;
				-moz-border-bottom-left-radius: 4px;
				-ms-border-bottom-left-radius: 4px;
				-o-border-bottom-left-radius: 4px;

				overflow: hidden;
				height: 59px;

				@media (min-width: 992px) {
					height: 63px;
				}

				&:after {
					position: absolute;
					top: 0px;
					height: 100%;
					right: 0px;
					width: 50px; /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
				background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
					content: "";
				}


				p {
					margin-bottom: 0px;
					.font-medium();
					white-space: nowrap;
					position: absolute;
				}


				.box-shadow-inset {
					border-top-left-radius: 4px;
					-webkit-border-top-left-radius: 4px;
					-moz-border-top-left-radius: 4px;
					-ms-border-top-left-radius: 4px;
					-o-border-top-left-radius: 4px;



					border-bottom-left-radius: 4px;
					-webkit-border-bottom-left-radius: 4px;
					-moz-border-bottom-left-radius: 4px;
					-ms-border-bottom-left-radius: 4px;
					-o-border-bottom-left-radius: 4px;



					border-top-right-radius: 0px;
					-webkit-border-top-right-radius: 0px;
					-moz-border-top-right-radius: 0px;
					-ms-border-top-right-radius: 0px;
					-o-border-top-right-radius: 0px;
				}
			}

			.btn-success {
				float: left;

				border-top-right-radius: 100px;
				-webkit-border-top-right-radius: 100px;
				-moz-border-top-right-radius: 100px;
				-ms-border-top-right-radius: 100px;
				-o-border-top-right-radius: 100px;



				border-bottom-right-radius: 100px;
				-webkit-border-bottom-right-radius: 100px;
				-moz-border-bottom-right-radius: 100px;
				-ms-border-bottom-right-radius: 100px;
				-o-border-bottom-right-radius: 100px;
				padding: 18px 10px;
				background-image: url(../images/worn_dots.png);
				.shadow();
				background-color:#fff;
				border:none; 
				overflow: hidden;
				position: relative;

				@media (min-width: 768px) {
					padding: 13px 10px;
				}

				@media (min-width: 992px) {
					padding: 15px 10px;
				}

				.box-shadow-inset {
					border-top-left-radius: 0px;
					-webkit-border-top-left-radius: 0px;
					-moz-border-top-left-radius: 0px;
					-ms-border-top-left-radius:0px;
				}

				&:before {
					content: "";
					position: absolute;
					width: 1px;
					background-color: #000;
					height: 100%;
					left: 0px;
					top: 0;
				}

				input {
					position: absolute;
				    top: 0;
				    right: 0;
				    margin: 0;
				    opacity: 0;
				    -ms-filter: 'alpha(opacity=0)';
				    font-size: 200px !important;
				    direction: ltr;
				    cursor: pointer;
				    z-index: 10;
				}


				span {
					font-size:1.2em;
					color: @color-base3;

					@media (min-width: 768px) {
						font-size:1.7em;
					}
				}
			}


			.padding-add {
				padding-top: 40px;
			}

			
			.kind {
				// width: 70%;
				display: table;
				margin:0px auto 40px;
				.font-medium();

				ul {
					margin-left: -40px;
				}

				.title {
					text-align: center;
					font-size: 1.3em;
					margin-bottom: 20px;
				}

				.list-item {
					list-style: none;
					font-size: 1.1em;
    				margin-bottom: 10px;

    				.fa-hand-point-right {
    					margin-right: 8px;
    				}
				}
			}



			.txt-correct-t3 {
				display:table;
				margin:0 auto 0;
    			font-size: 2em;
				position: relative;
				text-align: center;
			}

			.txt-bajada-t3 {
				.font-medium();
				text-align: center;
				margin-top: 20px;
				margin-bottom: 40px;
				font-size: 1.2em;
			}


			.college-trivia3 {
				margin-top: 35px;
				margin-bottom: 40px;
			}

			.margin-add {
				margin-top: 40px;
			}

			.height-photo {
				height: auto;
				overflow: hidden;


				@media (min-width: 768px) {
					height: 258px;
				}


				@media (min-width: 992px) {
					height: 350px;
				}

				@media (min-width: 1200px) {
					height: 420px;
				}
			}


			.data {

				p {
					color: #fff;
					font-size: 1.2em;
					text-align: center;
					margin-top: 10px;
					margin-bottom: 40px;


					@media (min-width: 768px) {
						margin-bottom: 0px;
					}
				}
			}

		}
	}
}






