@font-face {
  font-family: 'TheBoldFont';
  src: url('TheBoldFont.woff') format('woff'),
       url('TheBoldFont.ttf') format('truetype'),
       url('TheBoldFont.svg#TheBoldFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'theboldfont';
  src: url('theboldfont.eot');
  src: url('theboldfont.woff2') format('woff2'),
       url('theboldfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

