html,body{height:100%;}

body {
	background-image: url(../images/skin-playgrey.png);
	// background-repeat: no-repeat;
	background-position: top center;
	// background-color: #36113c !important;
	.main-font();
	// overflow-x: scroll !important;
	// overflow-y: initial;

	font-size: 13px !important;
	// height: auto !important;

	@media (min-width: 992px) {
		font-size: 16px !important;
	}
}



.icon-gen-1 {
	border-top-left-radius:50px;
	-webkit-border-top-left-radius:50px;
	-moz-border-top-left-radius:50px;
	-ms-border-top-left-radius:50px;
	-o-border-top-left-radius:50px;


	border-top-right-radius:50px;
	-webkit-border-top-right-radius:50px;
	-moz-border-top-right-radius:50px;
	-ms-border-top-right-radius:50px;
	-o-border-top-right-radius:50px;

	background-color: #fff;
	
}




#core-wrapp {
	position: relative;
	z-index:100;
	margin-top: 73px;
}


.txt-gen {
	color: @color-text-dark;
	position: relative;
	z-index: 4;
}


.button-gen-letsgo {
	background-image: url(../images/worn_dots.png);
	position: relative;
	overflow: hidden;
	.shadow();
	.border-radius-gen();
	user-select: none;

	p {
		.txt-shadow();
		margin:0px;
		padding: 10px 0px;
	}

}


.letsradio {
	background-color:@color-base3;
	margin: 0 auto 40px !important;

	p {
		color: #fff;
		padding: 10px 40px;
		font-size: 1.5em;
	}
}




.button-gen-send {
	background-image: url(../images/worn_dots.png);
	.shadow();
	background-color: @color-base3;
	position: relative;
	.border-radius-gen();
	padding: 5px 40px;
	float: none;
	margin:0 5px 20px 5px;

	
	p {
		color: #fff;
		font-size: 3.1em;
		margin-bottom: 0px;
	}

	@media (min-width:768px) {
		float: right;
	}
}


.btn-cancel {
	float: none;
	.shadow();
	opacity: 0.3;
	position: relative;
	.border-radius-gen();
	padding: 5px 25px;
	background-color: #eae8ea;
	margin:10px auto 0px;
	display: table;

	p { 
		color: #838383;
		font-size: 2em;
		margin-bottom: 0px;
	}


	@media (min-width:768px) {
		margin:10px 5px;
		display: inherit;
		float: right;

	}

}






/*radio planeta presenta*/
.logo-planeta {
	width:80%;

	@media (min-width: 768px) {
		width: 45%;
	}
}

.top {
	.col-xs-2 {
		padding: 0px;
	}
}


.wiii {
	text-align: center;
	font-size: 0.8em;
	margin-top: 8px;
}



/*parte superior*/

.top {
	position: relative;
	z-index: 1;

	.logo-gachi {
		width: 95%;
		z-index: 20;
		position: relative;

		@media (min-width: 768px) {
			width: 60%;
		}
	}
}







/*gachis*/
.gachi1 {
	width: 60%;
	margin-top: 20px;
	margin-bottom: 40px;
	position: relative;
	z-index: 4;
}


.gachi2 {
	width: 100%;
    margin-top: 80px;
    margin-bottom: 11px;
    position: relative;
    z-index: 4;
    transform: scale(1.2, 1.2);
}


.gachi3 {
	width: 90%;
	margin-top: 20px;
	margin-bottom: 40px;
	position: relative;
	z-index: 4;
	left: -30px;
}



	
	
.gachi1, .gachi2, .gachi3 {
	display: none !important;

	@media (min-width: 768px) {
		display: block !important;
	}
}



.gachi1-trivia {
	width: 90%;
	margin-top: 70px;
	@media (min-width: 1200px) {
		width: 60%;
	}
}



.gachi2-trivia {
	width: 100%;
	margin-top: 70px;

	position: absolute;
	right:-60px;
	top: 20px;
	z-index: 2;
}

/*figuritas*/
.figure{
	position: absolute;
	z-index: 2;
	display: none !important;
	@media (min-width: 768px) {
		display: block !important;
	}
}

.figure1 {
	top: 150px;
	left: 0px;

	@media (min-width: 1200px) {
		top: 250px;
	}
}

.figure2 {
	top: 220px;
	left: -11px;
	
	@media (min-width: 1200px) {
		top: 261px;
	}
}

.figure3 {
	top: 193px;
	left: -11px;

	@media (min-width: 992px) {
		top: 266px;
	}
}




/*galerías*/
.gallery {
  
    top: 0px;
    z-index: 20;
    display: table;
    margin-bottom: 40px;
    float: none !important;
    margin-top: 40px;



    @media (min-width: 768px) {
    	margin: 0px auto 40px ;
    	top: -38px;
    }

    @media (min-width: 992px) {
    	margin: 0px auto -40px ;
    	top: -98px;
    }


    @media (min-width: 1200px) {
    	margin: 0px auto -167px ;
		top: -258px;
    }
}


.college {
	background-color: #1b1b1b;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	overflow: hidden;
	padding: 15px 0px;



	.wrapp-draw {
		overflow: hidden;
		height: auto;
		margin-bottom: 15px;


		@media (min-width: 768px) {
			height: 140px;
			margin-bottom: 20px;
		}


		@media (min-width: 992px) {
			height: 195px;
			margin-bottom: 20px;
		}


		@media (min-width: 1200px) {
			height: 245px;
			margin-bottom: 20px;
		}
	}

	img {
		width: 100%;
	}
}



.inp-gen {
	border-color: @color-base2;
	 border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: -1px 1px 0px 1px rgba(0,0,0,0.2);
  	-moz-box-shadow: -1px 1px 0px 1px rgba(0,0,0,0.2);
  	box-shadow: -1px 1px 0px 1px rgba(0,0,0,0.2);
    border-radius: 2px;
    width: 100%;
    height: 40px;
    padding: 6px;
    background-color: rgba(255,255,255,0.85);
    color: #3d3d3d;
    .font-medium();
}


.select-gen {
	width: 100%;
	height: 40px;

	border-style: solid;
	border-width: 1px;
	border-color: @color-base1;

	border-radius: 2px;


	-webkit-box-shadow: -1px 1px 0px 1px rgba(0,0,0,0.2);
  	-moz-box-shadow: -1px 1px 0px 1px rgba(0,0,0,0.2);
  	box-shadow: -1px 1px 0px 1px rgba(0,0,0,0.2);

	background-color: rgba(255, 255, 255, 0.85);
	padding: 4px;

	font-family: 'Open Sans', sans-serif;

	color: #3d3d3d;


	option {
		color: #3d3d3d;
	}

}


.txt-title-tipo1 {
	color: @color-base3;
	margin-bottom: 20px;
	font-size: 3em;
	.txt-shadow();
	box-shadow: 0 3px 0 0 rgba(0,0,0,0.36);
	text-align: center;

	&:after {
		border-bottom: dashed 1px #ff00d2 !important;
	}
}


.article-gen {

	.prize-in {
		padding: 0px;

		img {
			width: 90%;
		}
	}

	/*logo de gachi top*/
	.top .logo-gachi {
		@media (min-width: 768px) {
			width: 90%;
		}

		@media (min-width: 992px) {
			width: 60%;
		}
	}

	


	.txt-add {
		text-align: center;
		margin-bottom: 0px;

		span {
			font-size: 1em;

			@media (min-width: 768px) {
				font-size: 1.5em;
			}
		}
	}

	
}