
.footer-add {
	position: relative;
    z-index: 100;
    background-color: #fff;
    .font-medium();
    padding-top: 10px;
    margin-top: -4px;
}

.date {
	text-align: center;
	color: @color-text-dark;
	font-size: 1em;
	margin: 0px 0 4px 0;
	opacity:1;
	position: relative;
	z-index: 4;

	a {
		cursor: pointer;
		.transition();

		&:hover, &:focus {
			color: #a5a5a5;
		}
	}
}


.full-footer {
	background-color: #fff;
	padding: 25px 0;
	text-transform: initial;

	position: relative;
	z-index: 4;
}



#footer {
	.font-medium();

	.logo-crp {

		a {
			display: table;
			margin: 0 auto 0;
			width: 32%;
			text-align: center;

			@media (min-width: 992px) {
				display: block;
				width: auto;
			}


			img {
				display: initial;
				@media (min-width: 992px) {
					display: block;
				}

			}
		}
	}

	.radios-menu {
		float: right;
		margin-top:10px; 
		display: none;

		@media (min-width: 992px) {
			display: block;
		}

		ul {
			li {
				list-style: none;
				font-weight: bold;
				margin-bottom: 4px;


				a {
					color: @color-crp;
					text-align: right;
					float: right;
					font-size: 0.9em;
					.transition();
				}
			}
		}
	}



	.legal-footer {
		margin-top: 40px;	
	
		.line {
			text-align: center;
			overflow: hidden;

			
			
			.legal-line {

				p {
					font-size: 12px;
					color: #9e9e9e;
					
					span {
						margin-left: 8px;
					}

					a {
						color: #9e9e9e;
						.transition();

						&:focus, &:hover, &:active {
							color: @color-text-dark;
						} 	
					}
				}

			}

		}

	}

}