#header {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #000;
	height: 54px;
	z-index: 1000;
	overflow: hidden;

	.icon-gen-1 {
		float: left;
		font-size: 1.1em;
		margin-top: 14px;
		padding: 12px 12px;
		cursor: pointer;
		margin-right: 7px;
	
		@media (min-width: 992px){
			padding: 10px 12px;
		}


	}


	.user-header {
	
		.out {
			.icon-login {
				background-color: @color-base1;	
				.transition();

				// &:hover, &:focus, &:active {
				// 	background-color: #fff;
				// 	color: @color-base3;
				// } 

			}


			.init {
				overflow: hidden;
				display: block;
				cursor: pointer;

				.transition();

				&:hover, &:focus, &:active {
					.icon-login {
						background-color: #fff;
						color: @color-base3;
					}

					
					.registry {
						color: #fff;
					}

				}
			}

			.registry {
				color: @color-base1;
				font-size: 0.9em;
				
    			margin-top: 23px;
    			.transition();
    			display: none;

    			// &:hover {
    			// 	color: #fff;
    			// }


    			@media (min-width: 480px){
					display: inline-block;
				}
			}
		}


		.in {
			.margin-add {
				margin: 6px 10px 6px 0;
			}
			.person {
				font-size:0.8em;
				color: #fff;
				text-align: center;
				margin-bottom: 3px;
			
				.name {
					color: @color-base1;
				}
			}
			

			.score-wrapp {
				font-size: 0.7em;
				.border-radius-gen();
				background-color: #fff;
				overflow: hidden;
				padding: 4px 0;


				.score {
					margin:0 5px;
				}
				
				span i {
					color: @color-base3;
				}

				span, p {
					float: left;
				}

				.score-data {
					font-size: 1.3em;
   					margin-right: 2px;
    				margin-top: -3px;
    				color: @color-base3;
				}
			}

			.icon-logout {
				background-color: @color-base1;
			}
		}
	}


	.right-header {

		.icon-whatsapp, .icon-facebook, .icon-tyc {
			.transition();
			
			&:hover {
				background-color: @color-base1;
			}
		}

		.icon-whatsapp {
			display: block;

			@media (min-width: 768px){
				display: none;
			}
		}

		.icon-facebook {
			
		}


		.icon-tyc {
			margin-right: 0px;
			@media (min-width: 768px){
				margin-right: 7px;
			}
		}
	}
}