/*reset modal tyc*/
.modalTyC {
	font-size: 0.8em;

	.close-tyc {
		text-align: center;
    	margin: 15px auto 2px;
    	display: table;
	}


	.tab {
		margin-left: 12px;
    	margin-bottom: 14px;
	}
	
	.tab-ne {
		margin-left: -13px;
	}

	.font-medium();


	@media (min-width: 768px) {
		.modal-dialog {
		    width: 750px;
		}
	}


	.modal-title {
		text-transform: uppercase;
		text-align: center;
	}

	.modal-body{
		line-height: 24px;
		padding: 25px;
	}


	.title-tyc {
		font-size: 1.8em;
		margin-bottom: 15px;
	}
}




.wrapper-modal-gen {
	.modal-dialog {
		width: 100%;
		margin: 0px;

		.content-box {
			margin: 20px auto 0;
		}


		.btn-close-modal {
			display: table;
			margin: 0 auto 0;
			overflow: hidden;
			color: #000;

			background-color: #fff;

			border-bottom-right-radius: 100px;
			-webkit-border-bottom-right-radius: 100px;
			-moz-border-bottom-right-radius: 100px;
			-ms-border-bottom-right-radius: 100px;
			-o-border-bottom-right-radius: 100px;



			border-bottom-left-radius: 100px;
			-webkit-border-bottom-left-radius: 100px;
			-moz-border-bottom-left-radius: 100px;
			-ms-border-bottom-left-radius: 100px;
			-o-border-bottom-left-radius: 100px;

			padding: 15px;
		    font-size: 1.2em;
		    margin-top: -21px;
		}

		.txt-title-modal {
			color: @color-base1;
			text-align: center;
			font-size: 2em;
			// .font-weight-bold();
			margin-top: 14px;
			margin-bottom: 16px;
			line-height: 1em;
		}


		.txt-instruction-modal {
			color: #fff;
			font-size: 1.8em;
			text-align: center;
			margin-top: -5px;
		}

		.bajada {
			text-align: center;
			color: #fff;
			display: block;
    		margin-top: -16px;
		}

		.inp-gen {
			width: 85%;
			margin: 0 auto 0;
			display: table;

			@media (min-width: 768px) {
				width: 30%;
			}
		}

		.btn-send {
			margin: 17px auto 0;
			display: table;
			float: none;
		}

		.txt-register {
			text-align: center;
			margin: 40px auto 0;
			display: table;
			font-size: 1em;
			color: #fff;
			overflow: hidden;

			* {
				margin: 0 2px;
			}

			span {
				float: left;
			}

			a {
				color: @color-base1;
				cursor: pointer;
				float: left;
				text-decoration: underline;
			}
		}


		.footer-modal {
			width: 80%;
    		margin: 20px auto 0;

    		@media (min-width: 768px) {
				width: 50%;
    		}

    		.wrapp-social {
    			margin: 0 auto 0;
    			display: table;
    		}

    		.icon-social {
    			color: #fff;
				border-color: #fff;
				border-width: 5px;
				border-style: solid;
				background-image: url(../images/worn_dots.png);


				width: 45px;
				height: 45px;
				margin: 15px 6px 0 6px;
				float: left;
				.transition();

				.border-radius-gen();
				background-color: @color-base3;
				.shadow();
				overflow: hidden;
				position: relative;

				@media (min-width: 768px) {
					width: 50px;
					height: 50px;
				}


				i {
					font-size: 1.4em;

					@media (min-width: 768px) {
						font-size: 1.6em;
					}
				}


				&:hover {
					background-color: #fff;
					border-color: @color-base3;
				}

    		}

			.icon-facebook {
				i {
					padding: 9px 13px;
				}

				&:hover {

					i {
						color: @color-base3;
					}

				}
				
			}


			.icon-wazap {
				display: block;

				@media (min-width: 768px) {
					display: none;
				}


				i {
					padding: 9px 10px;
					
					@media (min-width: 768px) {
						padding: 13px 15px;
						
					}
				}
				

				&:hover {

					i {
						color: @color-wazap;
					}

				}

			}
		}


		.btn-center {
			margin: 18px auto 0;
			display: table;
			
			.btn-send {
				float: left;
				margin: 0px;
			}
			.letsgo {
				float: left;
				color: #fff;
				font-size: 2.1em;
				margin: 12px 14px 0 0;
			}
		}


		
	}


	.button-gen-send {
		p {
			font-size: 2.5em;
		}
	}
}

