/*paleta de colores*/
@color-base1:#ffff00; /*amarillo primario*/
@color-base2:#ffe400; /*amarillo secundario*/
@color-base3:#ff00d2; /*magenta*/
@color-base4:#00eaff; /*cyan*/



@color-crp:#3fac2a;
@color-text-dark:#333333;
@color-facebook:#6d84b4;
@color-wazap:#128C7E;



.float-left {
  float: left;
}


.float-right {
  float: right;
}

.overflow {
  overflow: hidden;
}

.center {
  display: table;
  margin: 0 auto 0;
  float: none;
}

.relative {
  position: relative;
}

.txt-center {
  text-align: center;
}

.clear {
  clear: both;
}

button {
  border:none;
  background-color: initial;
}

a {
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}




.border-radius-gen {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -moz-border-radius: 100px;
}



.shadow {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.36);
  -moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.36);
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.36);
}


.shadow-inset {
  -webkit-box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.2);
  box-shadow: inset 0px 4px 0px 0px rgba(0,0,0,0.2);
}


.box-shadow-inset {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .shadow-inset();
  z-index: 2;
  .border-radius-gen();
}


.txt-shadow {
  text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.36);
  -webkit-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.36);
  -moz-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.36);
  -ms-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.36);
  -o-text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.36);
}




.txt-dotted {

  &:after {
    content: "";
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: dashed 1px #333333;
  }

}

@font-face {
  font-family: 'TheBoldFont';
  src: url('../fonts/bold-font/TheBoldFont.woff') format('woff'),
       url('../fonts/bold-font/TheBoldFont.ttf') format('truetype'),
       url('../fonts/bold-font/TheBoldFont.svg#TheBoldFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/gotham/Gotham-Medium.eot');
  src: url('../fonts/gotham/Gotham-Medium.woff2') format('woff2'),
       url('../fonts/gotham/Gotham-Medium.woff') format('woff'),
       url('../fonts/gotham/Gotham-Medium.ttf') format('truetype'),
       url('../fonts/gotham/Gotham-Medium.svg#Gotham-Medium') format('svg'),
       url('../fonts/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}





.font-medium {
  font-family: 'Gotham-Medium' !important;
}



.main-font {
  font-family: 'TheBoldFont' !important;
}







/*animations*/
.transition {
  -webkit-transition: all .5s;
  transition: all .5s;
  -o-transition: all .5s;
  -moz-transition: all .5s;
}

